
<body scroll="no">
	<!-- Main Content -->
	<div class="container-fluid vertical-center">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
				<h4 class="company_title">
          <img src = "assets/logos/loginlogo.png" width="40" height="50"/>
        </h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
						<form [formGroup]="loginForm" class="form-group" (ngSubmit)="login()">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username" formControlName="userid">
                <div *ngIf="submitted && f.userid.errors" class="help-block">    
                  <div *ngIf="f.userid.errors.required">Userid is required</div>    
            </div>
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password" formControlName="password">
                <div *ngIf="submitted && f.password.errors" class="help-block">    
                <div *ngIf="f.password.errors.required">Password is required</div>    
              </div>
							</div>
							<div class="row">
								<input type="submit" class="btn">
							</div>
						</form>
					</div>
          <p *ngIf="submitted && !securityObject?.isAuthenticated" class="alert alert-danger">"Invalid userName or password"</p>
					<div class="row">
						<p>Don't have an account? <a href="#">Register Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
